<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID">
	<display-name>303</display-name>
	<servlet>
		<servlet-name>SimpleController</servlet-name>
		<display-name>SimpleController</display-name>
		<description></description>
		<servlet-class>sc.ustc.controller.SimpleController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimpleController</servlet-name>
		<url-pattern>*.sc</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
	</welcome-file-list>
</web-app>
